doctype html
html(lang='en')
  head
    title Sorting Array||Hitesh Rishi
    style
      include style.css
  body
    .wrapper
      input.input(placeholder='Please Enter Array', type='text')
      span.underline
