doctype html
html(lang='en')
  head
    title SORTING ARRAY| HITESH RISHI
    script(src="/views/main.js")
    style
      include style.css
  body
    center
      u(style='color:white')
        h2(style='color:white') Count Frequencies Of Elements in Array
    br
    center
       form(action='https://sortarray.herokuapp.com/sort', method='post')
        input(type='text', name='array')
        .after
        br
        input(type='submit')
    h4  
    p Please Input Array, Enter to submit
    p Format of Array should be [1,2,3,4,5,6]
    br
    center(style='color:white;')
        | ©1MG
