html {
  background-color: #3993FB;
  font-family: "Lucida Grande","Lucida Sans Unicode", Tahoma, Sans-Serif;
}
p {
  text-align: center;
  color: #fff;
  font-size: 14px;
}
h4 {
  color: #fff;
  text-align: center;
  letter-spacing: 0.5px;
  transform: scale(0);
  transition: all 0.3s;
  position: relative;
  top: -25px;
  margin: 0;
  font-weight: normal;
}
h4.show {
  animation: alert 0.18s ease-in-out;
  animation-fill-mode: forwards;
}