doctype html
html(lang='en')
  head
    title SORTING ARRAY| HITESH RISHI
    style
      include style.css
  body
    center
      u(style='color:white;')
        h2(style='color:white;') Count Frequencies Of Elements in Array
    br
    center
        h2(style='color:white')!= hello
    br
    center(style='color:white;')
        | ©1MG
